<div id="showContent">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-1">
    <div class="container-fluid p-1">
      <div class="dropdown">
        <button class="dropdown-button">
          <i class="fas fa-bars fa-2x"> </i>
        </button>
        <div class="dropdown-content vertical-menu border">
          <a href="#" class="border">Home</a>
          <a href="#" class="border">Bookmarked </a>
          <a href="#" class="border">List Your Properties</a>
          <a href="#" class="border">About</a>
          <a href="#" class="border">FAQ</a>
          <a href="#" class="border">Blog</a>
        </div>
      </div>

      <a class="navbar-brand menu-hover" href="#"
        ><img
          src="https://i.ibb.co/ysZR388/bedroomvillas-logo.png"
          alt="bedroomvillas"
          class="img-fluid p-1"
      /></a>

      <div class="search p-1">
        <i class="fas fa-search-location"></i>
        <input
          type="text"
          id="searchInput"
          class="form-control rounded-0"
          placeholder="Search location"
        />
      </div>

      <div class="checkinCheckout p-1">
        <i class="far fa-calendar-alt"></i>
        <input
          type="text"
          class="form-control rounded-0"
          id="input-id"
          placeholder="Check In > Check Out"
        />
      </div>

      <div class="btn-group border p-1">
        <button
          type="button"
          class="btn btn-outline dropdown-toggle"
          aria-expanded="false"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#guestsModal"
        >
          <i class="far fa-user-friends"></i>
          &nbsp; Guests &nbsp;
        </button>
        <ul class="dropdown-menu">
          <li>
            <a id="showGuests" class="dropdown-item" href="#"></a>
          </li>
        </ul>
      </div>
      <div
        class="modal fade"
        id="guestsModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <span>Guests: </span>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="
                  parent
                  container
                  d-flex
                  justify-content-center
                  align-items-center
                  h-100
                "
              >
                <div class="child">
                  <button
                    class="btn btn-minus rounded-circle"
                    style="font-size: large"
                    onclick="decrement()"
                  >
                    <i class="fal fa-minus-circle fa-2x"></i>
                  </button>
                  <span
                    id="updateGuestInfo"
                    style="margin: 2em; font-size: large"
                  >
                    0
                  </span>
                  <button
                    class="btn btn-minus rounded-circle"
                    onclick="increment()"
                  >
                    <i class="fal fa-plus-circle fa-2x"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-primary"
                style="background-color: #f7941d"
                onclick="guestupdate()"
              >
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-group border p-1 price-range-area">
        <button
          type="button"
          class="btn btn-outline dropdown-toggle"
          aria-expanded="false"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          &nbsp; Price Range &nbsp;
        </button>
        <ul class="dropdown-menu">
          <li>
            <a id="showprice" class="dropdown-item" href="#"></a>
          </li>
        </ul>
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <span>Price Range: </span>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="price-range-slider">
                <p class="range-value">
                  <input
                    style="display: flex; justify-content: center"
                    type="text"
                    id="amount"
                    readonly
                  />
                </p>
                <div id="slider-range" class="range-bar"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn btn-apply"
                onclick="rangeprice()"
              >
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="p-1 search-area">
        <button
          type="button"
          class="form-control w-auto btn btn-search rounded-0"
          data-bs-toggle="modal"
          data-bs-target="#finalModal"
          onclick="showSearchData()"
        >
          Search
        </button>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="finalModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Search Result</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>Search: <span id="placeSearchValue"></span></p>
              <p>Check In: <span id="checkInValue"></span></p>
              <p>Check Out: <span id="checkOutValue"></span></p>
              <p>Guests: <span id="guestsValue"></span></p>
              <p>Price Range: <span id="priceRangeValue"></span></p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="p-1 filter-area">
        <button
          type="button"
          class="form-control w-auto btn btn-filter rounded-0"
        >
          Filter
        </button>
      </div>
    </div>
  </nav>

  <div class="row m-1 g-3">
    <div class="col-md-12">
      <p>
        Vacation Rentals in Arizona
        <span class="vacation-rentals">
          &nbsp;&nbsp; | &nbsp;&nbsp; USA > Arizona</span
        >
      </p>
    </div>
  </div>

  <div class="m-1 border p-1 bg-light">
    <div class="row m-1 g-3 p-1">
      <div class="col-md-4">
        <div class="card">
          <div class="container-img">
            <img
              src="https://i.ibb.co/pncmT7r/hotel-1.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="top-right">
              <button class="rounded p-1 more-photo">
                More photo
                <img
                  src="https://cdn-assets.bedroomvillas.com/vff/1.1.18-v2/images/external-link.svg"
                  alt=""
                  class="img-fluid img-2"
                />
              </button>
            </div>
            <div class="bottom-left">
              <button class="rounded p-1 cash-1">From ৳ 15000</button>
            </div>
            <div class="bottom-right">
              <button class="rounded p-1 btn btn-sm btn btn-sm heart-1">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            <div class="row">
              <div class="col-md-8">
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  &nbsp;&nbsp; 635 Reviews <br />
                  Sleeps 87 <br />
                  <span class="label-card-text"
                    >Arizona > Lake Havasu City</span
                  >
                </p>
              </div>
              <div class="col-md-4">
                <button type="button" class="w-auto btn btn-view-more">
                  View Details
                </button>
              </div>
            </div>
            <p class="card-text">
              <i class="fal fa-check"></i>
              Air Conditionar &nbsp;&nbsp;
              <i class="fal fa-check"></i>
              Child Friendly
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="container-img">
            <img
              src="https://i.ibb.co/jrHGfth/hotel-2.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="top-right">
              <button class="rounded p-1 more-photo">
                More photo
                <img
                  src="https://cdn-assets.bedroomvillas.com/vff/1.1.18-v2/images/external-link.svg"
                  alt=""
                  class="img-fluid img-2"
                />
              </button>
            </div>
            <div class="bottom-left">
              <button class="rounded p-1 cash-1">From ৳ 15000</button>
            </div>
            <div class="bottom-right">
              <button class="rounded p-1 btn btn-sm btn btn-sm heart-1">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            <div class="row">
              <div class="col-md-8">
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  &nbsp;&nbsp; 635 Reviews <br />
                  Sleeps 87 <br />
                  <span class="label-card-text"
                    >Arizona > Lake Havasu City</span
                  >
                </p>
              </div>
              <div class="col-md-4">
                <button type="button" class="w-auto btn btn-view-more">
                  View Details
                </button>
              </div>
            </div>
            <p class="card-text">
              <i class="fal fa-check"></i>
              Air Conditionar &nbsp;&nbsp;
              <i class="fal fa-check"></i>
              Child Friendly
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="container-img">
            <img
              src="https://i.ibb.co/WWNpHYF/hotel-3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="top-right">
              <button class="rounded p-1 more-photo">
                More photo
                <img
                  src="https://cdn-assets.bedroomvillas.com/vff/1.1.18-v2/images/external-link.svg"
                  alt=""
                  class="img-fluid img-2"
                />
              </button>
            </div>
            <div class="bottom-left">
              <button class="rounded p-1 cash-1">From ৳ 15000</button>
            </div>
            <div class="bottom-right">
              <button class="rounded p-1 btn btn-sm btn btn-sm heart-1">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            <div class="row">
              <div class="col-md-8">
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  &nbsp;&nbsp; 635 Reviews <br />
                  Sleeps 87 <br />
                  <span class="label-card-text"
                    >Arizona > Lake Havasu City</span
                  >
                </p>
              </div>
              <div class="col-md-4">
                <button type="button" class="w-auto btn btn-view-more">
                  View Details
                </button>
              </div>
            </div>
            <p class="card-text">
              <i class="fal fa-check"></i>
              Air Conditionar &nbsp;&nbsp;
              <i class="fal fa-check"></i>
              Child Friendly
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-1 g-3 p-1">
      <div class="col-md-4">
        <div class="card">
          <div class="container-img">
            <img
              src="https://i.ibb.co/68XMzbQ/hotel-4.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="top-right">
              <button class="rounded p-1 more-photo">
                More photo
                <img
                  src="https://cdn-assets.bedroomvillas.com/vff/1.1.18-v2/images/external-link.svg"
                  alt=""
                  class="img-fluid img-2"
                />
              </button>
            </div>
            <div class="bottom-left">
              <button class="rounded p-1 cash-1">From ৳ 15000</button>
            </div>
            <div class="bottom-right">
              <button class="rounded p-1 btn btn-sm btn btn-sm heart-1">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            <div class="row">
              <div class="col-md-8">
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  &nbsp;&nbsp; 635 Reviews <br />
                  Sleeps 87 <br />
                  <span class="label-card-text"
                    >Arizona > Lake Havasu City</span
                  >
                </p>
              </div>
              <div class="col-md-4">
                <button type="button" class="w-auto btn btn-view-more">
                  View Details
                </button>
              </div>
            </div>
            <p class="card-text">
              <i class="fal fa-check"></i>
              Air Conditionar &nbsp;&nbsp;
              <i class="fal fa-check"></i>
              Child Friendly
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="container-img">
            <img
              src="https://i.ibb.co/fYVGXPt/hotel-5.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="top-right">
              <button class="rounded p-1 more-photo">
                More photo
                <img
                  src="https://cdn-assets.bedroomvillas.com/vff/1.1.18-v2/images/external-link.svg"
                  alt=""
                  class="img-fluid img-2"
                />
              </button>
            </div>
            <div class="bottom-left">
              <button class="rounded p-1 cash-1">From ৳ 15000</button>
            </div>
            <div class="bottom-right">
              <button class="rounded p-1 btn btn-sm btn btn-sm heart-1">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            <div class="row">
              <div class="col-md-8">
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  &nbsp;&nbsp; 635 Reviews <br />
                  Sleeps 87 <br />
                  <span class="label-card-text"
                    >Arizona > Lake Havasu City</span
                  >
                </p>
              </div>
              <div class="col-md-4">
                <button type="button" class="w-auto btn btn-view-more">
                  View Details
                </button>
              </div>
            </div>
            <p class="card-text">
              <i class="fal fa-check"></i>
              Air Conditionar &nbsp;&nbsp;
              <i class="fal fa-check"></i>
              Child Friendly
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="container-img">
            <img
              src="https://i.ibb.co/pncmT7r/hotel-1.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="top-right">
              <button class="rounded p-1 more-photo">
                More photo
                <img
                  src="https://cdn-assets.bedroomvillas.com/vff/1.1.18-v2/images/external-link.svg"
                  alt=""
                  class="img-fluid img-2"
                />
              </button>
            </div>
            <div class="bottom-left">
              <button class="rounded p-1 cash-1">From ৳ 15000</button>
            </div>
            <div class="bottom-right">
              <button class="rounded p-1 btn btn-sm btn btn-sm heart-1">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            <div class="row">
              <div class="col-md-8">
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  &nbsp;&nbsp; 635 Reviews <br />
                  Sleeps 87 <br />
                  <span class="label-card-text"
                    >Arizona > Lake Havasu City</span
                  >
                </p>
              </div>
              <div class="col-md-4">
                <button type="button" class="w-auto btn btn-view-more">
                  View Details
                </button>
              </div>
            </div>
            <p class="card-text">
              <i class="fal fa-check"></i>
              Air Conditionar &nbsp;&nbsp;
              <i class="fal fa-check"></i>
              Child Friendly
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-1 g-3 p-1">
      <div class="col-md-4">
        <div class="card">
          <div class="container-img">
            <img
              src="https://i.ibb.co/jrHGfth/hotel-2.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="top-right">
              <button class="rounded p-1 more-photo">
                More photo
                <img
                  src="https://cdn-assets.bedroomvillas.com/vff/1.1.18-v2/images/external-link.svg"
                  alt=""
                  class="img-fluid img-2"
                />
              </button>
            </div>
            <div class="bottom-left">
              <button class="rounded p-1 cash-1">From ৳ 15000</button>
            </div>
            <div class="bottom-right">
              <button class="rounded p-1 btn btn-sm btn btn-sm heart-1">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            <div class="row">
              <div class="col-md-8">
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  &nbsp;&nbsp; 635 Reviews <br />
                  Sleeps 87 <br />
                  <span class="label-card-text"
                    >Arizona > Lake Havasu City</span
                  >
                </p>
              </div>
              <div class="col-md-4">
                <button type="button" class="w-auto btn btn-view-more">
                  View Details
                </button>
              </div>
            </div>
            <p class="card-text">
              <i class="fal fa-check"></i>
              Air Conditionar &nbsp;&nbsp;
              <i class="fal fa-check"></i>
              Child Friendly
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="container-img">
            <img
              src="https://i.ibb.co/WWNpHYF/hotel-3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="top-right">
              <button class="rounded p-1 more-photo">
                More photo
                <img
                  src="https://cdn-assets.bedroomvillas.com/vff/1.1.18-v2/images/external-link.svg"
                  alt=""
                  class="img-fluid img-2"
                />
              </button>
            </div>
            <div class="bottom-left">
              <button class="rounded p-1 cash-1">From ৳ 15000</button>
            </div>
            <div class="bottom-right">
              <button class="rounded p-1 btn btn-sm btn btn-sm heart-1">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            <div class="row">
              <div class="col-md-8">
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  &nbsp;&nbsp; 635 Reviews <br />
                  Sleeps 87 <br />
                  <span class="label-card-text"
                    >Arizona > Lake Havasu City</span
                  >
                </p>
              </div>
              <div class="col-md-4">
                <button type="button" class="w-auto btn btn-view-more">
                  View Details
                </button>
              </div>
            </div>
            <p class="card-text">
              <i class="fal fa-check"></i>
              Air Conditionar &nbsp;&nbsp;
              <i class="fal fa-check"></i>
              Child Friendly
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="container-img">
            <img
              src="https://i.ibb.co/F5hWXyK/hotel-5.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="top-right">
              <button class="rounded p-1 more-photo">
                More photo
                <img
                  src="https://cdn-assets.bedroomvillas.com/vff/1.1.18-v2/images/external-link.svg"
                  alt=""
                  class="img-fluid img-2"
                />
              </button>
            </div>
            <div class="bottom-left">
              <button class="rounded p-1 cash-1">From ৳ 15000</button>
            </div>
            <div class="bottom-right">
              <button class="rounded p-1 btn btn-sm btn btn-sm heart-1">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            <div class="row">
              <div class="col-md-8">
                <p>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  &nbsp;&nbsp; 635 Reviews <br />
                  Sleeps 87 <br />
                  <span class="label-card-text"
                    >Arizona > Lake Havasu City</span
                  >
                </p>
              </div>
              <div class="col-md-4">
                <button type="button" class="w-auto btn btn-view-more">
                  View Details
                </button>
              </div>
            </div>
            <p class="card-text">
              <i class="fal fa-check"></i>
              Air Conditionar &nbsp;
              <i class="fal fa-check"></i>
              Child Friendly
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="d-flex justify-content-center fixed-bottom mb-3">
    <button class="btn btn-dark rounded-pill" id="mapButton">
      Show Map &nbsp; <i class="fas fa-map-marked-alt"></i>
    </button>
  </div>
</div>

<div class="bg-light" id="listButtonArea">
  <div class="d-flex justify-content-center fixed-bottom mb-3">
    <button class="btn btn-dark rounded-pill" id="showListButton">
      Show List &nbsp; <i class="fas fa-list"></i>
    </button>
  </div>
</div>

<div id="showMap">
  <div id="map"></div>
</div>
